In [2]:
# import sagemaker
import pandas as pd
from io import StringIO
import boto3

In [9]:
session = sagemaker.session.Session()
bucket = session.default_bucket()
client = boto3.client('s3')
response = client.get_object(Bucket=bucket, Key='data/data.csv')
body=response['Body']

data = body.read().decode('utf-8')
df = pd.read_csv(StringIO(data))
print(df.head())

   deceased  subject_id  gender   race arrival_transport  existing_doses  \
0         0    14188788       1  OTHER         AMBULANCE               0
1         0    19659841       1  OTHER         AMBULANCE               1
2         0    11074777       1  WHITE           WALK IN               4
3         0    11075647       0  WHITE           WALK IN               1
4         0    11858930       1  WHITE        HELICOPTER               0

   medicine_dispensations  temperature  heartrate  resprate  o2sat  sbp  dbp  \
0                       6          NaN        NaN       NaN    NaN  NaN  NaN
1                      12          NaN        NaN       NaN    NaN  NaN  NaN
2                       0          NaN        NaN       NaN    NaN  NaN  NaN
3                       0          NaN        NaN       NaN    NaN  NaN  NaN
4                       6          NaN        NaN       NaN    NaN  NaN  NaN

  pain  acuity
0  NaN     NaN
1  NaN     NaN
2  NaN     NaN
3  NaN     NaN
4  NaN     NaN

/tmp/ipykernel_10837/2122273395.py:15: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(data))

In [9]:
df = pd.read_csv('data.csv')

/tmp/ipykernel_21801/1507164070.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205504 entries, 0 to 205503
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   deceased                205504 non-null  int64
 1   subject_id              205504 non-null  int64
 2   gender                  205504 non-null  int64
 3   race                    205504 non-null  object
 4   arrival_transport       205504 non-null  object
 5   existing_doses          205504 non-null  int64
 6   medicine_dispensations  205504 non-null  int64
 7   temperature             191025 non-null  float64
 8   heartrate               194174 non-null  float64
 9   resprate                192573 non-null  float64
 10  o2sat                   192534 non-null  float64
 11  sbp                     193632 non-null  float64
 12  dbp                     193241 non-null  float64
 13  pain                    197462 non-null  object
 14  acuity                  200428 non-null  float64
dtypes: float64(7), int64(5), object(3)
memory usage: 23.5+ MB

In [11]:
for column in df.columns:
    print(column)
    missing_values = df[column].isna().sum()
    print(f'Missing values: {missing_values}')
    print(f'Percentage missing values: {missing_values / len(df[column]) : .2%}', '\n')

deceased
Missing values: 0
Percentage missing values:  0.00%

subject_id
Missing values: 0
Percentage missing values:  0.00%

gender
Missing values: 0
Percentage missing values:  0.00%

race
Missing values: 0
Percentage missing values:  0.00%

arrival_transport
Missing values: 0
Percentage missing values:  0.00%

existing_doses
Missing values: 0
Percentage missing values:  0.00%

medicine_dispensations
Missing values: 0
Percentage missing values:  0.00%

temperature
Missing values: 14479
Percentage missing values:  7.05%

heartrate
Missing values: 11330
Percentage missing values:  5.51%

resprate
Missing values: 12931
Percentage missing values:  6.29%

o2sat
Missing values: 12970
Percentage missing values:  6.31%

sbp
Missing values: 11872
Percentage missing values:  5.78%

dbp
Missing values: 12263
Percentage missing values:  5.97%

pain
Missing values: 8042
Percentage missing values:  3.91%

acuity
Missing values: 5076
Percentage missing values:  2.47%

In [12]:
df = df.dropna()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185294 entries, 8025 to 205503
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   deceased                185294 non-null  int64
 1   subject_id              185294 non-null  int64
 2   gender                  185294 non-null  int64
 3   race                    185294 non-null  object
 4   arrival_transport       185294 non-null  object
 5   existing_doses          185294 non-null  int64
 6   medicine_dispensations  185294 non-null  int64
 7   temperature             185294 non-null  float64
 8   heartrate               185294 non-null  float64
 9   resprate                185294 non-null  float64
 10  o2sat                   185294 non-null  float64
 11  sbp                     185294 non-null  float64
 12  dbp                     185294 non-null  float64
 13  pain                    185294 non-null  object
 14  acuity                  185294 non-null  float64
dtypes: float64(7), int64(5), object(3)
memory usage: 22.6+ MB

deceased - cleaned before loading
subject_id - drop, not relevant to the prediction model
race - encode multi class (binary encoder)
arrival transport - encode multi class (one hot encoder)
existing doses - rescale (min max scaler)
medicine dispensations - rescale(min max scaler)
temperature - good
heartrate - good
resprate - good
o2sat - good
sbp - drop values higher than 300 (even then, these are extreme)
dbp - drop values higher than 300 (even then, these are extreme)
pain - drop because there are a lot of unusable values
acuity - good

In [15]:
for column in df.columns:
    print(df[column].value_counts())

0    170049
1     15245
Name: deceased, dtype: int64
19903802    1
19976339    1
10590663    1
13041508    1
14044558    1
           ..
10554304    1
11062044    1
14462434    1
14714653    1
13716295    1
Name: subject_id, Length: 185294, dtype: int64
0    100296
1     84998
Name: gender, dtype: int64
WHITE                                        108247
BLACK/AFRICAN AMERICAN                        23823
OTHER                                         10808
ASIAN                                          4601
HISPANIC/LATINO - PUERTO RICAN                 4293
WHITE - OTHER EUROPEAN                         4190
ASIAN - CHINESE                                3880
UNKNOWN                                        3142
HISPANIC/LATINO - DOMINICAN                    3008
BLACK/CAPE VERDEAN                             2610
BLACK/AFRICAN                                  2250
WHITE - RUSSIAN                                2006
BLACK/CARIBBEAN ISLAND                         1535
HISPANIC OR LATINO                             1186
HISPANIC/LATINO - GUATEMALAN                    988
ASIAN - ASIAN INDIAN                            846
ASIAN - SOUTH EAST ASIAN                        792
WHITE - BRAZILIAN                               789
HISPANIC/LATINO - MEXICAN                       636
HISPANIC/LATINO - SALVADORAN                    631
WHITE - EASTERN EUROPEAN                        616
HISPANIC/LATINO - COLUMBIAN                     607
PORTUGUESE                                      573
SOUTH AMERICAN                                  496
ASIAN - KOREAN                                  486
AMERICAN INDIAN/ALASKA NATIVE                   474
PATIENT DECLINED TO ANSWER                      384
HISPANIC/LATINO - HONDURAN                      356
HISPANIC/LATINO - CENTRAL AMERICAN              305
HISPANIC/LATINO - CUBAN                         262
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER       256
MULTIPLE RACE/ETHNICITY                         141
UNABLE TO OBTAIN                                 77
Name: race, dtype: int64
WALK IN       114230
AMBULANCE      64553
UNKNOWN         5819
OTHER            640
HELICOPTER        52
Name: arrival_transport, dtype: int64
0       54692
1       17581
2       12459
3        9729
4        7910
        ...
811         1
434         1
1673        1
1261        1
847         1
Name: existing_doses, Length: 727, dtype: int64
0      44948
1      20859
2      19860
3      14748
4      12993
       ...
826        1
420        1
451        1
183        1
298        1
Name: medicine_dispensations, Length: 384, dtype: int64
98.00     14259
97.80     12524
98.20     11106
98.40      9546
97.60      9215
          ...
100.89        1
99.02         1
56.00         1
90.80         1
86.40         1
Name: temperature, Length: 357, dtype: int64
80.0     7575
88.0     6247
72.0     5124
90.0     5103
78.0     5022
         ...
173.0       1
250.0       1
10.0        1
8.0         1
98.5        1
Name: heartrate, Length: 182, dtype: int64
18.0     72581
16.0     67263
20.0     17476
14.0      7752
17.0      5042
         ...
67.0         1
4.0          1
97.0         1
158.0        1
31.0         1
Name: resprate, Length: 61, dtype: int64
100.0    81231
99.0     30319
98.0     29209
97.0     18276
96.0     12113
         ...
188.0        1
98.1         1
2.0          1
104.0        1
60.0         1
Name: o2sat, Length: 64, dtype: int64
130.0    4290
128.0    3956
132.0    3902
124.0    3787
126.0    3740
         ...
261.0       1
946.0       1
52.0        1
260.0       1
51.0        1
Name: sbp, Length: 222, dtype: int64
80.0      6233
78.0      5867
76.0      5759
70.0      5751
74.0      5475
          ...
7102.0       1
152.0        1
395.0        1
683.0        1
796.0        1
Name: dbp, Length: 351, dtype: int64
0                                                      54358
8                                                      17631
5                                                      14811
7                                                      14678
10                                                     14581
                                                       ...
0-8/10                                                     1
10/                                                        1
100                                                        1
134                                                        1
unable to give a number, says it's hard to describe        1
Name: pain, Length: 478, dtype: int64
3.0    101853
2.0     61678
4.0     14934
1.0      6339
5.0       490
Name: acuity, dtype: int64

In [16]:
print(df['pain'].unique())

[')' '+' '-' '.' '0' 0 1 2 3 4 5 6 '6' '7' '8' '9' '?' 'U' 'c' 'o' 's' 'u'
 ' 0' ' 4' ' 6' '++' '-0' '.0' '.3' '.5' '0 ' '0-' '0.' '0/' '00' '01'
 '03' '06' '07' '08' '09' '10' '11' '12' '13' '14' '15' '16' '18' '19'
 '2,' '2.' '20' '23' '3 ' '5 ' '51' '54' '56' '6 ' '61' '68' '6`' '7/'
 '73' '75' '8 ' '8,' '8/' '88' '9 ' '9+' '90' '95' '97' '98' '<1' '??'
 'RA' 'UA' 'na' 'no' 'o3' 'ok' 'ua' 'un' 'ut' ' 10' '0  ' '0, ' '0-1'
 '0-2' '0-5' '0-7' '0-8' '0-9' '0..' '0.5' '1 0' '1-2' '1-3' '1-7' '1.2'
 '1.5' '1/2' '10 ' '10+' '10.' '10/' '100' '134' '1`0' '2-3' '2-4' '2-6'
 '2-7' '2-8' '2-9' '2. ' '2.5' '3  ' '3-4' '3-5' '3-6' '3-7' '3.5' '4-5'
 '4-8' '4. ' '4.5' '4/9' '5-6' '5-8' '5-9' '5.5' '5.8' '5/7' '5/8' '5/9'
 '6-7' '6-8' '6-9' '6.5' '7-6' '7-8' '7-9' '7.5' '7/8' '8  ' '8-9' '8.5'
 '8.6' '8.7' '8/6' '8/9' '9  ' '9-8' '9.4' '9.5' '9.7' '9.9' '9/6' '>10'
 'AMS' 'Bad' 'NAD' 'Pt ' 'U.A' 'U/A' 'UTA' '___' '`10' 'bad' 'low' 'mod'
 'pta' 'u/a' 'unk' 'uta' 'uto' 'uts' 'yes' '"11"' '"12"' '"13"' '"15"'
 '"20"' '"60"' '"no"' '0-10' '0pcn' '1/10' '10. ' '10/5' '2-10' '3, 7'
 '3-10' '3-11' '3/10' '4  H' '4-10' '5-10' '6-10' '6/10' '7-10' '7.  '
 '8,10' '8-10' '8.59' '8/10' '81/2' '9-10' '9/10' 'Mild' 'UTA ' 'ache'
 'achy' 'alot' 'crit' 'dull' 'fine' 'good' 'lots' 'mild' 'none' 'nonw'
 'numb' 'pain' 'some' 'sore' "u/'a" 'urta' 'uta ' 'very' 'yes ' 'yes.'
 '  6-9' '"10+"' '"110"' '"bad"' '"yes"' '098.6' '10...' '10/10' '30-40'
 '5 1/2' '7-7.5' '7.235' '7.5-8' '8.5-9' '9 1.2' 'a lot' 'achey' 'awful'
 'balit' 'dont ' 'hurts' 'itchy' 'minor' 'mucho' 'pain ' 'right' 'scary'
 'sharp' 'sleep' 'small' 'so so' 'tight' 'u/a. ' 'uable' 'unale' '"1000"'
 '"Alot"' '"alot"' '"pain"' '0-8/10' '0no nf' '8.5-10' '9.5-10' 'ASLEEP'
 'UNABLE' 'Unable' 'asleep' 'better' 'cramps' 'crying' 'denies' 'little'
 'medium' 'middle' 'severe' 'sleepy' 'slight' 'stings' 'strong' 'tender'
 'throbs' 'twingy' 'uanble' 'uanlbe' 'unabke' 'unabl3' 'unable' 'unablw'
 'unalbe' 'unale ' 'unbale' 'unqble' 'unresp' 'varies' '"a lot"' '"heavy"'
 'FACES 4' 'L chest' 'Refused' 'Unable ' 'aphasic' 'asleep ' 'bloated'
 'burning' 'diffuse' 'moaning' 'no pain' 'not bac' 'not bad' 'over 10'
 'painful' 'poquito' 'reduced' 'refused' 'unabale' 'unable ' 'unable.'
 'unablwe' 'unalb e' 'unclear' 'unjable' 'unknown' '"little"' ':unable"'
 'Critical' 'Moderate' 'a little' 'all over' 'annoying' 'constant'
 'cramping' 'critical' 'declined' 'gi upset' 'it hurts' 'leg pain'
 'moaning ' 'moderate' 'not able' 'not much' 'pinching' 'pressure'
 'real bad' 'refused ' 'refusing' 'sleeping' 'somulent' 'tiny bit'
 'too much' 'unknown ' 'variable' 'very bad' ' a little' '"alittle"'
 '"painful"' '"so much"' '"tension"' 'bone pain' 'critical ' 'dull achy'
 'grimacing' 'heartburn' 'heaviness' 'nonverbal' 'refusing ' 'see below'
 'stiffness' 'throbbing' 'tightness' 'tolerable' 'uncomfort' '" alittle"'
 '"Too much"' '"a little"' '"moderate"' '"not much"' '"real bad"'
 'Non-verbal' 'controlled' 'discomfort' 'everywhere' 'hurts alot'
 'less sharp' 'little bit' 'manageable' 'non verbal' 'not normal'
 'not really' 'not to bad' 'pretty bad' 'unable 97/' 'when i pee'
 '"litte bit"' 'mild aches ' 'not too bad' 'pretty badf' '"discomfort"'
 'Unresponsive' 'chronic pain' 'excrutiating' "i don't know"
 'intermittent' 'not that bad' 'not too bad.' 'really hurts'
 'very painful' '"borderline" ' '"negligible" ' '"pretty high"'
 '"slight pain"' '10 w/ walking' 'achy all over' 'too much pain'
 'uncomfortable' '10 w/ movement' 'almost nothing' 'hurts to touch'
 'it is up there' 'just bodyaches' 'quite p ainful' '"a little bit."'
 '"a little more"' '0sent  for  lab' 'mild discomfort' 'slight pressure'
 'total body pain' 'unable to score' 'intense pressure' 'not comfortable.'
 'not very painful' 'through the roof' 'uanble to answer'
 'unable d/t intox' 'unable to access' 'unable to assess'
 'unable to give #' 'unable to obtain' 'constant pressure'
 'hurts when moving' 'no pain if seated' 'not strong at all'
 'only a little bit' 'refused to answer' 'unable - sleeping'
 '"hurts everywhere"' 'constant discomfort' 'FACES pain scale of 7'
 'no pain if not moving' 'when i touch it hurts' 'CP 4/10 and groin 7/10'
 'little bit of pressure' 'c/o severe HA since mon'
 'refusing to give a number' '"I dont do the pain scale"'
 'unable to report (aphasic)' '7 chronic back and neck pain'
 "it doesn't hurt unless i move it" '8/ paronychia lanced   3  days  ago'
 '"not as bad not, they gave me tylenol"'
 '10 (but dozing off during questioning)'
 'Pt states he is unable to give me a number '
 "unable to give a number, says it's hard to describe"]

In [17]:
df = df.drop(axis=1, columns=['subject_id', 'pain'])

In [18]:
dummies = pd.get_dummies(df['arrival_transport'], prefix='arrival_transport', drop_first=True)
df = df.join(dummies)
df = df.drop('arrival_transport', axis=1)

In [21]:
from category_encoders import BinaryEncoder
df = BinaryEncoder(cols=['race'], drop_invariant=True).fit_transform(df)
df.head()
# df = df.drop('race', axis=1)

,deceased,gender,race_0,race_1,race_2,race_3,race_4,race_5,existing_doses,medicine_dispensations,...,heartrate,resprate,o2sat,sbp,dbp,acuity,arrival_transport_HELICOPTER,arrival_transport_OTHER,arrival_transport_UNKNOWN,arrival_transport_WALK IN
8025,0,1,0,0,0,0,0,1,0,0,...,92.0,16.0,98.0,100.0,66.0,3.0,0,0,0,0
8026,0,1,0,0,0,0,0,1,13,1,...,50.0,18.0,97.0,182.0,82.0,1.0,0,0,0,0
8028,0,1,0,0,0,0,1,0,0,7,...,71.0,16.0,97.0,143.0,83.0,2.0,0,0,0,0
8029,0,1,0,0,0,0,0,1,0,5,...,65.0,16.0,97.0,114.0,67.0,1.0,0,0,0,0
8030,0,0,0,0,0,0,1,0,3,1,...,76.0,16.0,100.0,130.0,76.0,3.0,0,0,0,0

In [22]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[ ['existing_doses', 'medicine_dispensations'] ] = scaler.fit_transform(df[ ['existing_doses', 'medicine_dispensations'] ])

In [23]:
# sbp - drop values higher than 300 (even then, these are extreme)
# dbp - drop values higher than 300 (even then, these are extreme)
df = df[ (df['sbp'] <= 300) & (df['dbp'] <= 300) ]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185111 entries, 8025 to 205503
Data columns (total 21 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   deceased                      185111 non-null  int64
 1   gender                        185111 non-null  int64
 2   race_0                        185111 non-null  int64
 3   race_1                        185111 non-null  int64
 4   race_2                        185111 non-null  int64
 5   race_3                        185111 non-null  int64
 6   race_4                        185111 non-null  int64
 7   race_5                        185111 non-null  int64
 8   existing_doses                185111 non-null  float64
 9   medicine_dispensations        185111 non-null  float64
 10  temperature                   185111 non-null  float64
 11  heartrate                     185111 non-null  float64
 12  resprate                      185111 non-null  float64
 13  o2sat                         185111 non-null  float64
 14  sbp                           185111 non-null  float64
 15  dbp                           185111 non-null  float64
 16  acuity                        185111 non-null  float64
 17  arrival_transport_HELICOPTER  185111 non-null  uint8
 18  arrival_transport_OTHER       185111 non-null  uint8
 19  arrival_transport_UNKNOWN     185111 non-null  uint8
 20  arrival_transport_WALK IN     185111 non-null  uint8
dtypes: float64(9), int64(8), uint8(4)
memory usage: 26.1 MB

In [30]:
print(sum(df.deceased)/len(df.deceased))

0.08228036151282203

In [27]:
len(df.deceased)

185111

In [29]:
sum(df['deceased'])

15231

In [35]:
X = df.drop(columns='deceased')
y = df['deceased']

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, stratify=y)

In [37]:
data_train, data_test = train_test_split(df, test_size=.2, stratify=df['deceased'])

In [38]:
print(sum(data_train.deceased)/len(data_train.deceased))

0.08228215655556156

In [39]:
print(sum(data_test.deceased)/len(data_test.deceased))

0.08227318153580207

In [40]:
print(sum(y_train)/len(y_train))

0.08228215655556156

In [41]:
print(sum(y_test)/len(y_test))

0.08227318153580207

Elegi el pytorch tabular como libreria y modelo de prediccion (clasificacion con % de seguridad), porque de acuerdo a las notaas de la clase, los algoritmos de deep learning mejoran con mayores cantidades de datos, y para este prooyecto, esto puede ser unaa mejora a futuro. Tmbien va a ser interesaante revisar el desempe;o de este modelo frente al Boosting, que es aahora el estandar que elegi para comparar el proyecto. <br><br> Aqui un ejemplo de uso de la libreria https://analyticsindiamag.com/how-to-handle-tabular-data-for-deep-learning-using-pytorch-tabular/

In [ ]:
!pip install pytorch_tabular